
@{
    ViewBag.Title = "DetailsGrottediBossea";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<br />
<div class=" row d-flex ">
    <h1 class="mt-5">Itinerario dettagliato</h1>

    <div class="col-md-6 me-5  ">
        
    <br />
        <p>Ogni visita è condotta da guide speleologiche appositamente formate, richiede un tempo medio di 90 – 100 minuti, si sviluppa su un percorso storico integrato coi nuovi itinerari, per una lunghezza complessiva di circa 3 km, fra andata e ritorno, ed un dislivello totale in ascensione di 116 metri. </p>
        <p>All’interno della grotta vi introdurrete alla Sala dell'Orso dove in occasioni speciali dell’anno si svolgono eventi e concerti. La Sala prende il nome da una formazione rocciosa che assomiglia effettivamente a un orso. </p>
        <p>Nella grotta è attivo un laboratorio carsologico sotterraneo gestito dalla Stazione Scientifica di Bossea (CAI di Cuneo) e dal Dipartimento Geo-risorse e Territorio del Politecnico di Torino, con la collaborazione del dipartimento di Cuneo dell’ARPA. </p>
        <p>La grotta in generale è nota per le sue stalattiti e stalagmiti, oltre che per il suo valore geologico e naturalistico, che ne fanno una meta interessante per gli appassionati di geologia e per i turisti che vogliono esplorare la bellezza sotterranea del Piemonte.</p>
    </div>
    <img src="~/Content/assets/DetailsBos.jpg" class="col-md-5 ms-5" />
</div>

