
@{
    ViewBag.Title = "DetailsGrottaGigante";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<br />
<div class=" row d-flex">
    <h1 class="mt-5">Itinerario dettagliato</h1>
    <div class="timeline  block mb-4">
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>1°</b></h4></div>
                <div>

                    <p>Una guida specializzata vi accompagnerà per circa un’ora lungo un percorso di 850 metri alla scoperta delle meraviglie del mondo sotterraneo Costituito da 500 scalini. </p>

                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1">  <h4><b>2°</b></h4></div>
                <div>
                    <p>Dal centro visite un ingresso naturale conduce alla prima galleria: da qui si comincia con la discesa, costituita da 500 scalini sviluppati su rampe. </p>

                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1">   <h4><b>3° </b></h4></div>
                <div>

                    <p>Terminata l’antica scalinata si aprirà dinnanzi a voi la maestosa “Grande Caverna“, che si trova ad una profondità di 80 metri. Si tratta di un’enorme sala unica, resa spettacolare dalle sue dimensioni eccezionali. Il sentiero si addentra tra migliaia di formazioni calcaree, mentre la guida vi introdurrà alla conoscenza del mondo sotterraneo, svelando i segreti della formazione delle cavità carsiche, della loro evoluzione e molto altro.</p>
                    
                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>4°</b></h4></div>
                <div>

                    <p>La visita proseguirà nella “Sala dell’Altare“, un ambiente raccolto e suggestivo dal quale potrete osservare l’imbocco della “Grotta Segreta“, un ramo laterale che si sviluppa lungo una serie di pozzi verticali fino a raggiungere l’incredibile profondità di 252 metri.</p>

                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>5°</b></h4></div>
                <div>

                    <p>La risalita comincia percorrendo il sentiero “Carlo Finocchiaro“, una scalinata panoramica che offre uno spettacolare colpo d’occhio sull’intera cavità. </p>

                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>6°</b></h4></div>
                <div>

                    <p>Una breve galleria naturale vi porterà poi all’uscita, un’apertura naturale nei pressi del parcheggio, che dista 100 metri dal centro visite da cui siete partiti.</p>

                </div>
            </div>
        </div>

    </div>
</div>
