
@{
    ViewBag.Title = "DetailsGrottediBorgioVerezzi";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrottediBorgioVerezzi.css" rel="stylesheet" />
<h1>Itinerario dettagliato</h1>



<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">

                <br />
                <p class="card-text font-serif">
                    Il percorso turistico delle <b>Grotte di Borgio Verezzi </b>è lungo circa <b>800m</b> (400m all’andata e altrettanti al ritorno).
                </p>
                <p class="card-text font-serif">Si possono osservare concrezioni di ogni forma – sottili come gli spaghetti, imponenti come le colonne, stalattiti eccentriche che sfidano la forza di gravità – e colore – bianco, giallo, rosso in mille sfumature diverse, e color cioccolato – dovuti alla presenza di svariati minerali.</p>
                <p class="card-text font-serif"> Il sentiero si snoda tra le concrezioni colorate e presenta 5 punti di stop dove la guida si ferma e spiega le varie peculiarità.  La visita dura circa un’ora ed è molto appassionante;</p>
                <p class="card-text font-serif">Alla fine, possiamo provare l’ebbrezza di stare al buio all’interno delle grotte in quanto la guida, prima di risalire in superficie, ha spento tutte le luci per qualche secondo.</p>
            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/DetailsBV.jpg">

        </div>
    </div>
</div>
<div class="alert alert-info" role="alert">
    Per i bambini, disabili e portatori di handicap l’ingresso è GRATUITO!
</div>

<div class=" mb-3">
    <h3>Le Sale</h3>
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-7 me-5 ">
            <div class="card-body">
                <p class="card-text font-serif">
                    La <b>Sala dei Concerti </b>, come suggerisce il nome, è spesso utilizzata per eventi e concerti, grazie alla sua acustica perfetta. Qui è possibile ammirare grandi stalattiti e stalagmiti dalle forme sinuose e irregolari.
                </p>
            </div>
        </div>
        <div class="col-md-4 ">
            <img src="https://www.agriturismolegirandole.com/media/e2jnrncw/sala-dei-concerti.jpg">
        </div>
    </div>
</div>

<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-4 ">
            <img src="https://www.agriturismolegirandole.com/media/gfsj4c5a/sala-del-paesaggio-lunare.jpg">
        </div>
        <div class="col-7 ms-5 ">
            <div class="card-body">
                <p class="card-text font-serif">
                    La <b> Sala del Paesaggio Lunare</b> prende il nome dal fatto che i primi geologi che visitarono la grotta paragonarono il suo aspetto a quello della luna. È caratterizzata da formazioni rocciose insolite e suggestive, come stalattiti a forma di candela e stalagmiti dalla forma di colonne.
                </p>
            </div>
        </div>
    </div>
</div>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-7 me-5 ">
            <div class="card-body">
                <p class="card-text font-serif">
                    La<b> Sala del Piede di Gulliver </b>deve il suo nome ad una grande formazione rocciosa che ricorda il piede del celebre personaggio di Jonathan Swift. Al suo interno si trovano splendide concrezioni dalle forme più disparate, che ricordano colonne, tende e drappi.
                </p>
            </div>
        </div>
        <div class="col-md-4 ">
            <img src="https://www.agriturismolegirandole.com/media/yu1msumw/sala-del-piede-di-gulliver.jpg">
        </div>
    </div>
</div>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-4 ">
            <img src="https://www.agriturismolegirandole.com/media/hsplhbzs/sala-del-castello.jpg">
        </div>
        <div class="col-7 ms-5 ">
            <div class="card-body">
                <p class="card-text font-serif">
                    La <b>Sala del Castello</b> è caratterizzata dalla presenza di stalattiti dalla forma di torri e castelli, davvero imponenti e suggestive.
                </p>
            </div>
        </div>
    </div>
</div>
<div class=" mb-5">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-7 me-5 ">
            <div class="card-body">
                <p class="card-text font-serif">
                    La<b> Sala del Presepe </b>deve il suo nome alle piccole statuine del presepe poste in un angolo della grotta. Una volta giunti al termine del percorso, la guida spegne le luci artificiali per un minuto intero, permettendo ai visitatori di immergersi nell'oscurità totale.
                </p>
            </div>
        </div>
        <div class="col-md-4 ">
            <img src="https://www.agriturismolegirandole.com/media/pmsbexoe/sala-del-presepe.jpg">
        </div>
    </div>
</div>
    
   