
@{
    ViewBag.Title = "DetailsGrottediToirano";
}
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<div class=" pt-5 mt-5 mb-3">
<h1>Itinerario dettagliato</h1>
    <p class="mt-4"> La Grotta di Toirano offre ai visitatori l'opportunità di esplorare un'infinità di meraviglie naturali. Tra le sue numerose meraviglie, vi guiderà attraverso un'ampia gamma di sale e caverne incantevoli. </p>
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-12 ">
            <div class="card-body">
                <div class="page-content page-container" id="page-content">
                    <div class="padding">
                <h4>Le Sale</h4>
                        <div class="row">

                            <div class="col-lg-12">

                                <div class="timeline  block mb-4">
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">La Sala Morelli</div>
                                            <div class="">
                                                qui è esposto uno scheletro di Ursus Spelaeus parzialmente ricostruito;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class=" titoletto tl-date text-muted mt-1">	Il Salotto</div>
                                            <div class="">
                                                bellissima area con formazioni calcaree millenarie, molto particolari ed interessanti;
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">	Il Corridoio delle Impronte</div>
                                            <div class="">
                                                dove si trovano impresse nell'argilla le impronte di piedi, di mani e di ginocchia umane miste a quelle di orsi delle caverne;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class=" titoletto tl-date text-muted mt-1">	Il Laghetto</div>
                                            <div class="">
                                                sede di un antico lago sotterraneo. Nelle acque delle grotte vive un piccolo crostaceo del genere Nyphargus che non raggiunge il centimetro di lunghezza, depigmentato e cieco a causa della sua evoluzione all'interno delle grotte stesse;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">	Il Cimitero degli Orsi</div>
                                            <div class="">
                                                un vasto deposito di ossa di Ursus spelaeus, risalenti a 27.000 - 24.000 anni fa;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">	La Sala dei Misteri</div>
                                            <div class="">
                                                contiene numerose testimonianze di interesse archeologico, come impronte di uomini preistorici ed orsi delle caverne, tracce di fiaccole e le palline di argilla di cui parlavamo prima;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">L'Antro di Cibele</div>
                                            <div class="">
                                                quando venne scoperto si trovava sott'acqua. E' unico al mondo per le sue concrezioni mammellonari (stalattiti a forma di mammelle);
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">Il Tunnel di collegamento</div>
                                            <div class="">
                                                collega la Grotta della Bàsura alla Grotta di Santa Lucia Inferiore, sotto ben 150 metri di roccia;
                                                

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">I Cristalli</div>
                                            <div class="">
                                                osserverete bellissimi fiori di calcite e formazioni di aragonite;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">Il Pantheon</div>
                                            <div class="">
                                                dove si trova una stalagmite ricoperta di cristalli di aragonite definita per la sua bellezza la perla della grotta;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">La Sala dei Livelli</div>
                                            <div class="">
                                                contrassegnata da una sorta di cornicioni calcarei, testimonia la presenza di un antico lago sotterraneo;
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tl-item active">
                                        <div class="tl-dot b-warning"></div>
                                        <div class="tl-content">
                                            <div class="titoletto tl-date text-muted mt-1">Il Tanone</div>
                                            <div class="">
                                                è la parte finale della grotta, priva di concrezioni, conosciuta da sempre. Nel 1944 venne usata come rifugio antiaereo dalla popolazione di Toirano. Oggi, invece, viene utilizzata come luogo particolare in cui avvengono manifestazioni ed eventi culturali quali concerti e balletti.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>


            </div>
        </div>

       
    </div>
</div>
<div class="alert alert-success" role="alert">
    Per i bambini, disabili e portatori di handicap l’ingresso è GRATUITO!
</div>

