
@{
    ViewBag.Title = "DetailsGrottediPertosaAuletta";
}

<h1>Itinerario dettagliato</h1>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrotteGenerale.css" rel="stylesheet" />
<div class=" mb-3">
    <p class="card-text ">
        Le Grotte si estendono per circa tremila metri nel massiccio dei Monti Alburni, in un percorso ricco di concrezioni, dove stalattiti e stalagmiti decorano ogni spazio con forme, colori e dimensioni diverse, suscitando stupore ed emozione.
    </p>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-7 d-flex justify-content-center ">
            <img src="~/Content/assets/DetailsPer.jpg" />
        </div>
    </div>
    <p class="card-text ">
        Si possono visitare le grotte con una visita guidata da 1 ora con il suggestivo tratto in barca sul fiume sotterraneo e con la visita di ambienti pieni di fascino e dai nomi suggestivi come Sala delle Meraviglie, Belvedere, Grande Sala, Sala del Trono, Sala dell’Unione con il “bacio” tra stalattite e stalagmite.
    </p>

</div>

<div class="alert alert-secondary mt-5" role="alert">
    Per i bambini, disabili e portatori di handicap l’ingresso è GRATUITO!
</div>

