
@{
    ViewBag.Title = "DetailsGrottediBorgioVerezzi";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrottediBorgioVerezzi.css" rel="stylesheet" />
<h1>Itinerario dettagliato</h1>



        <div class=" mb-3">
            <div class="row g-0 d-flex align-items-center  ">
                <div class="col me-5">
                    <div class="card-body">

                        <br />
                        <p class="card-text font-serif">
                            Il percorso turistico delle Grotte di Borgio Verezzi è lungo circa 800m (400m all’andata e altrettanti al ritorno).
                        </p>
                        <p class="card-text font-serif">Si possono osservare concrezioni di ogni forma – sottili come gli spaghetti, imponenti come le colonne, stalattiti eccentriche che sfidano la forza di gravità – e colore – bianco, giallo, rosso in mille sfumature diverse, e color cioccolato – dovuti alla presenza di svariati minerali.</p>
                        <p class="card-text font-serif"> Il sentiero si snoda tra le concrezioni colorate e presenta 5 punti di stop dove la guida si ferma e spiega le varie peculiarità.  La visita dura circa un’ora ed è molto appassionante;</p>
                        <p class="card-text font-serif">Alla fine, possiamo provare l’ebbrezza di stare al buio all’interno delle grotte in quanto la guida, prima di risalire in superficie, ha spento tutte le luci per qualche secondo.</p>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <img src="~/Content/assets/DetailsBV.jpg" >
                        
                </div>
            </div>
        </div>
        <div class="alert alert-info" role="alert">
            Per i bambini, disabili e portatori di handicap l’ingresso è GRATUITO!
        </div>