
@{
    ViewBag.Title = "DetailsGrottediPastena";
}


<link href="~/Content/GrottediPastena.css" rel="stylesheet" />
<div class="pt-5 mt-5 mb-3">
<h1>Itinerario dettagliato</h1>


<p>
    Esplorando la Grotta di Pastena, i visitatori possono ammirare un'infinità di meraviglie naturali mentre vengono condotti attraverso una serie di suggestive sale e incantevoli caverne, che rappresentano solo alcune delle numerose attrazioni che la grotta ha da offrire.
</p>
</div>
    <h2>Le Sale</h2>



<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-center">
                <div class="box-column">
                    <div class="box-header ">
                        <i class="fa  fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title ">
                            <h4>SALA DEL LAGO BLU</h4>
                        </div>
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/eb/b5/05/la-cascata-interna-alle.jpg " class="w-100"/>
                        <div class="box-text  ">
                            <p class="card-text text-center">
                                In questa sala si può trovare una cascata di circa 10 metri che varia con le precipitazioni e si getta in un piccolo lago profondo 5 metri, alimentato dal Fosso Mastro e da piccole sorgenti sul fondo. Qui è possibile ammirare delle concrezioni più estese che si formano quando la goccia scivola lungo la parete prima di cadere al suolo.
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 text-center ">
                <div class="box-column">
                    <div class="box-header ">
                        <i class="fa  fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title ">
                            <h4>SALA DEL SALICE PIANGENTE</h4>
                        </div>
                        <img src="https://www.grottepastenacollepardo.it/app/uploads/2021/06/PASTENA-Salice_piangente.jpg" class="w-100" />
                        <div class="box-text ">
                            <p class="card-text text-center">
                                Il nome di questa sala deriva dalla forma di una colonna, simile a un salice piangente, che è nata dall’unione di una stalattite e una stalagmite. Alcune delle formazioni presenti nella sala raggiungono i 10 metri. In questa galleria si possono vedere delle macchie chiare e tonde, ossia delle bolle di aria che si sono formate durante la piena del fiume e che hanno impedito all’acqua di toccare le pareti.
                            </p>
                           
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 text-center">
                <div class="box-column">
                    <div class="box-header ">
                        <i class="fa fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="box-bottom">
                        <div class="box-title  ">
                            <h4>SALA DEI PIPISTRELLI</h4>
                        </div>
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/37/dd/9c/grotte-di-pastena.jpg" class="w-100" />
                        <div class="box-text ">
                            <p class="card-text text-center">
                                In questa sala nel 1926 il gruppo di speleologi guidato dal barone Franchetti trovò una colonia di pipistrelli, come si può vedere dal guano rimasto sul soffitto.  Questi animali che oggi si trovano nelle parti più nascoste, per evitare rumori e luci, utilizzano le grotte come rifugio.  
                            </p>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning" role="alert">
    Per i bambini, disabili e portatori di handicap l’ingresso è GRATUITO!
</div>