
@{
    ViewBag.Title = "DetailsGrottediStiffe";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<br />
<div class=" row d-flex">
<h1 class="mt-5">Itinerario dettagliato</h1>

    <div class="col-md-6 me-5 ">
        <h3>Ingresso</h3>
        <br />
        <p>L'ingresso alle grotte avviene in corrispondenza della foce di Stiffe, una vistosa spaccatura nella montagna proprio al di sopra dell'abitato, a circa 2 km dal centro visite.</p>
        <p>Una passerella risale il corso d'acqua immettendosi al di sotto di una parete rocciosa di 100 m.</p>
        <p> L'ingresso è sovrastato da altre cavità quali la «grotta dei Briganti», probabilmente prodotta da un ramo fossile della risorgenza ma attualmente non accessibile al pubblico.</p>
        <p> Il cammino incontra una prima cavità ove sono stati rinvenuti importanti resti archeologici. </p>
    </div>
    <img src="~/Content/assets/DetailsSti.jpg" class="col-md-5 ms-5" />

    <div class="timeline  block mb-4">
        <h3>Le Sale</h3>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>Sala del Silenzio</b></h4></div>
                <div>

                    <p>Superando la prima cavità, per mezzo di un canyon, si arriva ad un grande ambiente che prende il nome di Sala del Silenzio;</p>
                    <p>Il nome deriva dal fatto che in corrispondenza di esso il fiume tende a prosciugarsi annullando il rumore tipico del resto del percorso</p>
                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1">  <h4><b>Sala della Cascata</b></h4></div>
                <div>
                    <p>Risalendo la Sala della Cascata ci si immette quindi nuovamente in un ambiente silenzioso e poco luminoso, caratterizzato tipica presenza di stalattiti e stalagmiti.</p>
                    <p> Più avanti la sala si amplia ed accoglie una vasta distesa d'acqua che prende il nome di lago Nero e costituisce una delle parti più antiche del complesso; la delicatezza delle concrezioni ha portato a limitare l'accesso ai visitatori in alcune aree.</p>
                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1">   <h4><b>Sala della Concrezione e lago Nero</b></h4></div>
                <div>

                    <p>La Sala del Silenzio è l'anticamera alla prima cascata che sviluppa un dislivello di oltre 20 m su di una parete alta circa 30 m e realizzatasi dallo scorrimento verticale delle rocce.</p>
                    <p> La parete ha creato un primo sbarramento al percorso turistico, poi superato dalla realizzazione di una scalinata con belvedere sulla cascata. </p>
                </div>
            </div>
        </div>
        <div class="tl-item active">
            <div class="tl-dot b-primary"></div>
            <div class="tl-content">
                <div class="tl-date text-muted mt-1"> <h4><b>Seconda Cascata</b></h4></div>
                <div>

                    <p>Dopo un'ulteriore salita, si arriva all'ambiente più recentemente aperto al pubblico e caratterizzato dalla presenza di una seconda fragorosa cascata.</p>
                    <p>Il salto, di oltre 25 m, si getta in un laghetto della profondità di circa 5 m all'interno di una sala particolarmente ampia e scenografica. </p>
                </div>
            </div>
        </div>



    </div>
</div>
