
@{
    ViewBag.Title = "DetailsGrottediFrasassi";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<br />
<div >
    <h1 class="mt-5">Itinerario dettagliato</h1>

    <div>

        <br />
        <h4>PERCORSO AZZURRO (Durata circa 2 ore)</h4>
        <p class="card-text font-serif">
            Adatto a tutti coloro che hanno superato i 12 anni di età, con poche difficoltà da affrontare, è sicuramente il primo passo da fare per avvicinarsi alla speleologia, caratterizzato da brevi arrampicate, da cunicoli, strettoie e scivoli. </p>
        <p class="card-text font-serif">Da prestare attenzione al fondo leggermente sconnesso ed a tratti scivoloso, causa il forte accumulo di fango. Il "fuori percorso" inizia dalla "sala dell'infinito", ultima del percorso turistico classico, prosegue con la strettoia della "Cannella" per arrivare alle "Quattro sorelle".</p>

       
        <p class="card-text font-serif">
            Il prossimo ostacolo è un lungo cunicolo dove si potrà trovare tanto fango, si arriva alla "sala del Bivacco". Un attimo di riposo, due foto ricordo e via per un lungo scivolo. 
        <p class="card-text font-serif">
            Giunti alla "sala Gentile da Fabriano" ed ai "pozzi di Lucia"  si avrà modo di vedere un particolare di notevole bellezza: "le pelli di leopardo" .Giunto alla fine del percorso si inizia il percorso di ritorno.
        </p>
            <div class=" d-flex justify-content-center mt-4">  <img src="https://us.123rf.com/450wm/conceptw/conceptw1810/conceptw181000102/120653702-lettera-x-simbolo-di-alfabeto-di-contorno-incandescente-colorato-su-sfondo-scuro-riflesso-lente.jpg?ver=6" class="w-50" /></div>


    </div>
  

    </div>
<div class="mt-5 ">



    <div>

        <br />
        <h4>PERCORSO ROSSO (Durata circa 3 ore)</h4>

        <p class="card-text font-serif">
            Questo secondo percorso che vi proponiamo, presenta un grado di difficoltà superiore al primo, lo consigliamo quindi a chi ha già effettuato l'azzurro e a coloro che amano l'avventura.
        </p>

        <p class="card-text font-serif">
            Anche questo "fuori percorso" inizia nella "sala dell'infinito", ultima del percorso turistico. Dopo pochi metri, a sbarrare la strada, una voragine profonda 30 metri denominata "pozzo Falconara". Sarete posti in "sicura", ovvero assicurati ad una corda, passando sulla sinistra e cercando di non guardare in basso, il primo ostacolo è superato.
        </p>


        <p class="card-text font-serif">
            Ed eccoci subito ai "cunicoli bassi" 30 metri da percorrere a carponi e strisciando. Proseguendo con il percorso vi dovrete  arrampicare per circa 10 metri lungo una condotta molto scivolosa denominata "salita della spaccata".
        </p>

        <p class="card-text font-serif">
            Ancora in "sicura" ed aiutati dalle guide e da alcuni appigli artificiali. Un lungo corridoio ci porterà alle Sale del "Palcoscenico", del "Molare" e dell'"Elefante". Dopo di che ci saranno 30 metri di cunicolo, detto "le Catacombe" che si dovranno percorrere. Giunti alla fine del giro, si  tornare indietro con tante altre sorprese.
        </p>
        <div class=" d-flex justify-content-center mt-4">  <img src="https://us.123rf.com/450wm/conceptw/conceptw1810/conceptw181000102/120653702-lettera-x-simbolo-di-alfabeto-di-contorno-incandescente-colorato-su-sfondo-scuro-riflesso-lente.jpg?ver=6" class="w-50" /></div>


    </div>


</div>



