
@{
    ViewBag.Title = "GrottediBorgioVerezzi";
}


<br />
<h1 class="title mt-5 text-center">Le Grotte di Borgio Verezzi</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699399608244!6m8!1m7!1sCAoSK0FGMVFpcE5oRGVxd0xqaHYtMlJkOXoxTXJLTkdGbkJ0MWFXZzdXZHdJM3c.!2m2!1d44.1623645!2d8.3044995!3f249.84!4f-22.47!5f0.4000000000000002" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/GrottediBorgioVerezzi.css" rel="stylesheet" />
<style>
    button {
        background-color: #dc9047;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #dc9047;
            border: 2px solid #dc9047;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">Le Grotte</h3>
                <br />
                <p class="card-text ">
                    Le Grotte di Borgio Verezzi, situate in Liguria in provincia di Savona, sono una delle mete preferite dagli amanti delle avventure sotterranee e della natura.
                </p>
                <p class="card-text ">
                    Definite come "le grotte più colorate d'Italia", offrono un percorso di 800 metri che si snoda tra eccentriche formazioni calcaree dalle forme più disparate.
                </p>
                <p class="card-text ">
                    Questo gioiello naturale può essere abbinato alla visita dell'omonimo borgo medievale, ma anche alle più rinomate località della Riviera Ligure di Ponente.
                </p>
                <p class="card-text ">
                    Un'esperienza unica, che permette di immergersi in una delle più affascinanti grotte italiane.
                </p>
            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/BV2.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-5 me-5">
            <img src="~/Content/assets/BV.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
                <p class="card-text ">
                    Scoperte nel 1933 da tre ragazzini di Borgio che, seguendo l’acqua del torrente, arrivarono alla prima sala calandosi da un pozzo alto dieci metri, le grotte sono state generate dall’azione meccanica e chimica delle acque piovane sulla roccia calcarea, nel corso di migliaia di anni.
                </p>
                <p class="card-text ">
                    Nelle Grotte non sono stati trovati resti umani ma solo reperti ossei di animali – tra gli altri di elefante, orso, mammut – databili tra i 500.000 e i 750.000 anni fa e conservati oggi nel Museo Archeologo.
                </p>
                <p class="card-text ">
                    Fu solo nel 1951, quando lo speleologo Giovanni Dentella esplorò le gallerie sotterranee, che la meraviglia naturale delle Grotte di Borgio Verezzi ricevette l'attenzione che meritava.
                </p>
                <p class="card-text ">
                    Dentella creò un percorso turistico che venne inaugurato nel 1970. La scoperta di queste grotte ha una storia avventurosa che dimostra l'importanza della curiosità e dell'esplorazione per scoprire le meraviglie nascoste della natura.

                </p>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="info row d-flex align-items-center justify-content-around">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <h2 class="card-title">Informazioni</h2>
            <div class="card-body">
                <br />
                <h3>Orari</h3>
                <p>
                    ◈  Orario continuato dalle ore 09:00 alle ore 17:00.
                </p>
                <p>
                    ◈  Gli orari sono suscettibili di variazione.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <div class="card-body">
                <h3>Biglietti</h3>


                <p> ◈ Adulti - 10€</p>


                <h5>GRATUITÁ</h5>

                <p> ◈ Disabili e accompagnatori disabili</p>
                <p> ◈ Bambini</p>
                <p> ◈ Insegnanti</p>

            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-3">

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-end flex-column w-75 py-4">

                    <h2 class="mt-5">Scopri il suo itinerario</h2>
                    <button>@Html.ActionLink("Clicca qui!", "DetailsGrottediBorgioVerezzi", "Grotte", new { area = "" }, new { @class = "nav-link " })</button>
                </div>
            </div>
        </div>
    </div>
</div>




