
@{
    ViewBag.Title = "GrottediCastellana";
}

<br />
<h1 style="color: #8c8179 "  class="mt-5 text-center">Le Grotte di Castellana</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699544587968!6m8!1m7!1sCAoSLEFGMVFpcFBFYzI0NW9ZcGxVUDhYR0NmYlp5akJDdGtYdFRoSHFvM3JPMVp3!2m2!1d40.87590549999999!2d17.1484251!3f60!4f10!5f0.7820865974627469" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>
<link href="~/Content/GrotteGenerale.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    button {
        background-color: #8c8179;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #8c8179;
            border: 2px solid #8c8179;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">Le Grotte</h3>
                <br />
                <p class="card-text ">
                    Le Grotte di Castellana, un complesso di cavità sotterranee di origine carsica, di notevole interesse turistico, tra i più belli e spettacolari d’Italia, sono ubicate nel Comune di Castellana-Grotte, a circa 1,5 km dall’abitato.Si sviluppano per una lunghezza di 3348 metri e raggiungono una profondità massima di 122 metri dalla superficie. La temperatura degli ambienti interni si aggira attorno ai 16,5°C.
                </p>
                <p class="card-text ">
                    Situate alle porte della Valle d’Itria, a pochi chilometri da borghi incantevoli come Alberobello, Cisternino, Polignano a Mare, le Grotte di Castellana si aprono nelle Murge sud orientali a 330 m s.l.m. sull’altopiano calcareo formatosi nel Cretaceo superiore, circa novanta-cento milioni di anni fa.
                </p>



            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/Cast.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-6 me-5">
            <img src="~/Content/assets/Cast2.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">

                <p class="card-text ">
                    La visita alle Grotte si snoda lungo un percorso di 3 Km: una straordinaria escursione guidata, a circa 70 metri di profondità, in uno scenario stupefacente, dove caverne dai nomi fantastici, canyon, profondi abissi, fossili, stalattiti, stalagmiti, concrezioni dalle forme incredibili e dai colori sorprendenti sollecitano la fantasia di bambini e adulti.Le Grotte di Castellana sono, quindi, a pieno titolo, un’imperdibile occasione per ammirare uno dei luoghi naturali più sorprendenti di una Puglia meravigliosa.
                </p>


            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
                <p class="card-text ">
                    Vincenzo Longo (1737-1825), umanista e giureconsulto castellanese, forse fu il primo uomo a scendere nella Grave assieme a una numerosa comitiva di giovani coetanei.
                </p>
                <p class="card-text ">
                    Nel 1938 i responsabili dell’Ente Provinciale per il Turismo di Bari richiesero all’Istituto Italiano di Speleologia di Postumia l’intervento di un esperto speleologo per compiere un sopralluogo in grotte già conosciute nel territorio allo scopo di una loro utilizzazione turistica.
                </p>
                <p class="card-text ">
                    Portata la notizia all’esterno, lo speleologo Franco Anelli scoprì la Grave il 23 gennaio 1938 e, due giorni dopo, insieme all'operaio Vito Matarrese, esplorò il perimetro della cavità. Nel  marzo 1938, Anelli e Matarrese continuarono le esplorazioni, raggiungendo la Grotta Bianca nel 1939. Anelli completò il rilievo delle grotte nel settembre dello stesso anno.
                </p>

            </div>
        </div>

        <div class="col-md-5 ">
            <img src="~/Content/assets/CastS.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<div class="d-flex justify-content-start">
    <div class="d-flex justify-content-start flex-column w-25 py-4">
        <h2 class="mt-5 ">Scopri il suo itinerario</h2>
        <button>@Html.ActionLink("Clicca qui!", "DetailsGrottediCastellana", "Grotte", new { area = "" }, new { @class = "nav-link" })</button>
    </div>
</div>


