
@{
    ViewBag.Title = "GrottediBossea";
}

<h2>ESPLORA CON LA VISITA VIRTUALE:</h2>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1593069226142!6m8!1m7!1sCAoSLEFGMVFpcE9iMnRmVjFIUEtGX1FvT1R3YjNFUUtiMjZzNkwtVVlITm9rVk1Q!2m2!1d44.24211330994096!2d7.839995916962721!3f183.35!4f2.7099999999999937!5f0.4000000000000002" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>

