
@{
    ViewBag.Title = "GrottediPastena";
}

<br />
<h1 style="color: #e7ba80 " class="mt-5 text-center">Le Grotte di Pastena</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699576490027!6m8!1m7!1sCAoSLEFGMVFpcE9TOUozQ2JNc283TEFSU052YndfcW81Ulp4bldNZEREYXdvWXpL!2m2!1d41.4965597!2d13.489569!3f280!4f0!5f0.7820865974627469" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    button {
        background-color: #e7ba80;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #e7ba80;
            border: 2px solid #e7ba80;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">Le Grotte</h3>
                <br />
                <p class="card-text ">
                    Inserite all’interno del Parco Naturale Regionale Monti Ausoni e Lago di Fondi, le Grotte di Pastena sono definite tecnicamente come “grotte di attraversamento”, completamente percorribili (il ramo attivo solo da speleologi) dall’inghiottitoio fino alla risorgenza.
                </p>
                <p class="card-text ">
                    L’inghiottitoio (l’attuale antro d’ingresso) nel quale si gettano le acque del fosso Mastro, è conosciuto da sempre dalla popolazione locale: alto 20 m e largo 12 m, le testimonianze del suo utilizzo, fin dalla preistoria, sono numerose.
                </p>



            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/Pas.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-6 me-5">
            <img src="~/Content/assets/Pas2.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">
                <p class="card-text ">
                    Vi sono due percorsi principali costituiti da un ramo attivo inferiore e da un ramo fossile superiore, ed è considerato tra i maggiori complessi speleologici della penisola e consente di ammirare le più interessanti forme del carsismo sotterraneo:
                </p>
                <p class="card-text ">
                    maestose e suggestive sale, stalattiti, stalagmiti e colonne dalle forme bizzarre, laghetti e nelle stagioni più piovose fragorose cascate, che rendono la visita alle grotte un’esperienza emozionante.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
                <p class="card-text ">
                    Furono scoperte nel 1926 dal barone Carlo Franchetti e divenute turistiche già l'anno successivo, sono gestite dal Consorzio Grotte Pastena e Collepardo.
                </p>
                <p class="card-text ">
                    Negli anni '70 il geologo Lamberto Ferri Ricchi completò l'esplorazione di tutto il percorso sotterraneo nel corso d'acqua.
                </p>
                <p class="card-text ">
                    Durante la seconda guerra mondiale le grotte furono usate come rifugio contro i bombardamenti.
                </p>

            </div>
        </div>

        <div class="col-md-5 ">
            <img src="~/Content/assets/PasS.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<div class="container">
    <div class="info row d-flex align-items-center justify-content-around">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <h2 class="card-title">Informazioni</h2>
            <div class="card-body">
                <br />
                <h3>Orari</h3>
                <p>
                    ◈  Orario continuato dalle ore 09:00 alle ore 17:00.
                </p>
                <p>
                    ◈  Gli orari sono suscettibili di variazione.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <div class="card-body">
                <h3>Biglietti</h3>


                <p> ◈ Adulti - </p>


                <h5>GRATUITÁ</h5>

                <p> ◈ Disabili e accompagnatori disabili</p>
                <p> ◈ Bambini</p>
                <p> ◈ Insegnanti</p>

            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-3">

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-end flex-column w-75 py-4">

                    <h2 class="mt-5">Scopri il suo itinerario</h2>
                    <button>@Html.ActionLink("Clicca qui!", "DetailsGrottediPastena", "Grotte", new { area = "" }, new { @class = "nav-link " })</button>
                </div>
            </div>
        </div>
    </div>
</div>