
@{
    ViewBag.Title = "GrottediToirano";
}

<br />
<h1 style="color: #9dac7d "class="mt-5 text-center">Le Grotte di Toirano</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699399435924!6m8!1m7!1sCAoSLEFGMVFpcE5odXBHb1V2eW9LUDRLOXdhcDVnVzZNemV4TkZ3TDZ4bWRyX3hH!2m2!1d44.1359155!2d8.2001393!3f228.22!4f-1.8499999999999943!5f0.4000000000000002" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>
<link href="~/Content/GrotteGenerale.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    button {
        background-color: #9dac7d;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #9dac7d;
            border: 2px solid #9dac7d;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">Le Grotte</h3>
                <br />
                <p class="card-text ">
                    Le Grotte di Toirano si trovano in Val Varatella, in provincia di Savona (Liguria). Il gruppo di caverne comprende oltre 150 anfratti naturali disposte su una lunghezza di 1300 metri dove sono state trovate tracce dell’homo sapiens risalenti ad oltre 12.000 anni fa, resti di ursus spelaeus (orso delle caverne) di circa 25.000 anni fa, una vasta varietà di stalattiti e stalagmiti e un laghetto sotterraneo, nel quale vive un minuscolo crostaceo preistorico. Di particolare bellezza l’enorme stalagmite ricoperta di cristalli di aragonite. Nella sala del Tanone si organizzano spettacoli, concerti e balletti.
                </p>
                


            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/To2.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-6 me-5">
            <img src="~/Content/assets/To.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">

                <p class="card-text ">
                    Nelle Grotte vennero  ritrovati una bellissima serie di sale dove vi trovò rifugio per millenni l'orso delle caverne (Ursus spelaeus) che vi si recava per trascorrere il letargo. La presenza dei grossi animali è attestata da un gran numero di resti ossei, da impronte di zampe sul suolo e dalle tracce di unghiate sulle pareti.
                  
                </p>
                <p class="card-text ">
                    Non solo gli orsi, l'uomo preistorico, circa 12.000-12.500 anni fa, qui lasciò testimonianze importanti. Si possono, infatti, ancora vedere impronte di piedi, di mani e di ginocchia.
                </p>

            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
               
                <p class="card-text ">
                    Conosciute da sempre e già citate ne "La leggenda del Buranco", dell'autore toiranese Baccio Emanuele Maineri, le grotte che oggi fanno parte del complesso turistico vengono esplorate nella loro interezza a partire dal 1950.

                </p>
                   
                <p class="card-text ">
                    
                    Il 28 maggio del 1950, un gruppo di giovani di Toirano apre un varco nel diaframma che impedisce l'accesso alle sale interne della Grotta della Bàsura e arriva sul fondo della grotta, riportando in paese resti di orso delle caverne.
                </p>

            </div>
        </div>

        <div class="col-md-5 ">
            <img src="~/Content/assets/ToS2.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br>
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-5 me-5">
            <img src="~/Content/assets/ToS.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">

                <p class="card-text ">
                    La grotta viene aperta al pubblico il 1 gennaio 1953 e, nel 1960, l'esplorazione continua con la discesa nell'antro di Cibele, il tratto terminale della Bàsura, inaccessibile fino a quel momento, e con la successiva esplorazione della Grotta Inferiore di Santa Lucia.
                   
                </p>
                <p class="card-text ">
                    Il 9 luglio 1967, con il completamento del traforo del tunnel, le due grotte naturali vengono collegate, creando il circuito a senso unico utilizzato ancora oggi per la visita.

                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="info row d-flex align-items-center justify-content-around">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <h2 class="card-title">Informazioni</h2>
            <div class="card-body">
                <br />
                <h3>Orari</h3>
                <p>
                    ◈  Orario continuato dalle ore 09:00 alle ore 17:00.
                </p>
                <p>
                    ◈  Gli orari sono suscettibili di variazione.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <div class="card-body">
                <h3>Biglietti</h3>


                <p> ◈ Adulti - 16€</p>


                <h5>GRATUITÁ</h5>

                <p> ◈ Disabili e accompagnatori disabili</p>
                <p> ◈ Bambini</p>
                <p> ◈ Insegnanti</p>

            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-3">

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-end flex-column w-75 py-4">

                    <h2 class="mt-5">Scopri il suo itinerario</h2>
                    <button>@Html.ActionLink("Clicca qui!", "DetailsGrottediToirano", "Grotte", new { area = "" }, new { @class = "nav-link " })</button>
                </div>
            </div>
        </div>
    </div>
</div>

