
@{
    ViewBag.Title = "GrottaGigante";
}

<br />
<h1 style="color: #765c45" class="mt-5 text-center">La Grotta Gigante</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699399274964!6m8!1m7!1sCAoSLEFGMVFpcE5ZZmFvTVJwQW1mdG5iWTZtaG9HcE45M2toejdzQ2JibkVNY0x6!2m2!1d45.709815!2d13.764169!3f195.04!4f-28.130000000000003!5f1.6362491326456432" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    button {
        background-color: #765c45;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #765c45;
            border: 2px solid #765c45;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Grande Grotte</h3>
                <br />
                <p class="card-text ">
                    La Grotta Gigante, chiamata anche Briška jama o jama pri Briščikih in sloveno, è la grotta carsica contenente la sala naturale più grande al mondo .
                </p>
                <p class="card-text ">
                    Seguendo il percorso di un antico fiume sotterraneo, accompagnati da una guida esperta, scenderete nelle profondità della Terra, fino a raggiungere la Grande Caverna:
                </p>
                <p class="card-text ">Un’imponente sala dall’incredibile volume di 365.000 metri cubi, dall’altezza di quasi 100 metri e larga 76 m la cui caverna centrale la colloca nel Guinness dei primati del 1995 come la più grande grotta turistica del mondo.</p>

            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/Gig.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-6 me-5">
            <img src="~/Content/assets/Gig2.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">
                <p class="card-text ">La grotta ospita un pendolo geodetico di 95 m che registra i movimenti della crosta terrestre e le vibrazioni generate dai terremoti.  </p>
                <p class="card-text "> All’interno della grande grotta: </p>
                <p class="card-text "> - Sono stati inoltre ritrovati utensili, frammenti di ceramica neolitica e importanti resti di animali tra cui quelli di Ursus spelaeus, l'orso delle caverne. <br /> - La temperatura è di 11°C costanti tutto l’anno.  </p>

            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
                <p class="card-text ">La prima esplorazione fu nel 1840 da Anton Frederick Lindner, che si calò con una corda fino al fondo della Grande Caverna nella speranza, poi disattesa, di raggiungere il fiume sotterraneo Timavo.</p>
                <p class="card-text ">Lo scopo di tale ricerca era quello di trovare un rimedio all’urgente problema della carenza d’acqua che affliggeva la città di Trieste, allora in rapida espansione.</p>
                <p class="card-text ">Nel 5 Luglio del 1908 la Grotta Gigante fu solennemente aperta al pubblico illuminata da migliaia di candele, fanali ad acetilene e fiaccole. Nel 1957 la Grotta Gigante fu dotata del primo impianto elettrico, che svelò finalmente nuove prospettive e suggestivi particolari dell’immensa volta. </p>
                <p class="card-text ">Nel 1970 venne ideato il grandioso progetto per la costruzione del sentiero di risalita lungo la parete opposta alla discesa turistica, che fu portato a compimento tra il 1991 ed il 1996 grazie ai contributi della Regione Autonoma Friuli Venezia Giulia.</p>
            </div>
        </div>

        <div class="col-md-5 ">
            <img src="~/Content/assets/GigS.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<div class="container">
    <div class="info row d-flex align-items-center justify-content-around">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
   
            <h2 class="card-title">Informazioni</h2>
            <div class="card-body">
                <br />
                <h3>Orari</h3>
                <p>
                    ◈  Orario continuato dalle ore 09:00 alle ore 17:00.
                </p>
                <p>
                    ◈  Gli orari sono suscettibili di variazione.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
        
            <div class="card-body">
                <h3>Biglietti</h3>


                <p> ◈ Adulti - 15€</p>


                <h5>GRATUITÁ</h5>

                <p> ◈ Disabili e accompagnatori disabili</p>
                <p> ◈ Bambini</p>
                <p> ◈ Insegnanti</p>

            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-3">
        
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-end flex-column w-75 py-4">
                  
                    <h2 class="mt-5">Scopri il suo itinerario</h2>
                    <button>@Html.ActionLink("Clicca qui!", "DetailsGrottaGigante", "Grotte", new { area = "" }, new { @class = "nav-link " })</button>
                </div>
            </div>
        </div>
    </div>
</div>
