
@{
    ViewBag.Title = "GrottediFrasassi";
}

<p>
    <iframe loading="lazy" src="https://ldmultimedia.net/ldm/panoramicheVR360/Grotte_di_Frasassi/virtualtour.html" width="1100" height="500" frameborder="0" style="border: 0 ;width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>

