
@{
    ViewBag.Title = "GrottediPertosaAuletta";
}

<br />
<h1 style="color: #a28ff1 " class="mt-5 text-center">Le Grotte di Pertosa Auletta</h1>
<p>
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!4v1699399835345!6m8!1m7!1sCAoSLEFGMVFpcFA5YVExQ0ZXU0RuY3dlT1p5VmcyQXd0N2YzZ3VsZ05IMjBBSVIx!2m2!1d40.53636086174537!2d15.45531535596342!3f216.32271!4f0!5f0.7820865974627469" width="1100" height="500" frameborder="0" style="border: 0; width: 100%; height: 500px;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
</p>
<link href="~/Content/GrotteGenerale.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    button {
        background-color: #a28ff1;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #fff;
            color: #a28ff1;
            border: 2px solid #a28ff1;
        }
</style>
<div class=" mb-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">Le Grotte</h3>
                <br />
                <p class="card-text ">
                    Situate nel massiccio dei Monti Alburni, le Grotte di Pertosa-Auletta sono uno dei geositi focali del Geoparco “Cilento” e presentano due unicità:
                </p>

                <p class="card-text ">
                    - Sono le uniche grotte in Italia dove è possibile navigare un fiume sotterraneo, il Negro;
                    <br />
                    - Ma sono anche le sole in Europa a conservare i resti di un villaggio palafitticolo risalente al II millennio a.C.
                </p>

                <p class="card-text ">
                    Con le loro guide, la visita alle grotte turisticamente attrezzate (percorsi segnati e comodi) ed illuminate da un impianto di ultima generazione, si trasforma in una piacevole avventura. Il fiume offre un affascinante ed inconsueto viaggio in barca, immersi in un silenzio magico, interrotto soltanto dal fragore degli scrosci della cascata sotterranea.
                </p>


            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/Per.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3">
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-5 me-5">
            <img src="~/Content/assets/PerS2.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Scoperta</h3>
                <p class="card-text ">
                    Nel 1898, Giovanni Patroni e Paolo Carucci condussero le prime indagini archeologiche nelle Grotte di Pertosa Auletta. Patroni esplorò l'ampia antegrotta, scoprendo una stratigrafia articolata e numerosi reperti umani di diverse epoche.
                </p>
                <p class="card-text ">
                    Emerse una struttura di legno simile a una palafitta, che portò alla luce testimonianze dell'età ellenistico-romana e protostorica.
                </p>
                <p class="card-text ">
                    Le ricerche di Carucci si concentrarono sul lembo terroso a destra dell'antegrotta, rivelando una seconda palafitta a una profondità di 2,80 metri.
                </p>


            </div>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <p class="card-text ">
                    Le indagini archeologiche più recenti del 2009 e del 2013 hanno rivelato che il sito è stato trasformato a causa della costruzione di una banchina per turisti e di una diga idroelettrica, che ha sommerso il sito archeologico di circa 2 metri.
                </p>
                <p class="card-text ">
                    Nonostante ciò, le ricerche hanno dimostrato che la palafitta si estende lungo il margine sinistro dell'antegrotta, anche in ambienti oscuri. Le datazioni radiocarboniche indicano che la palafitta risale alla metà del II millennio a.C.
                </p>

                <p class="card-text ">
                    Le Grotte di Pertosa Auletta costituiscono una preziosa fonte di informazioni sul primo popolamento della Valle del Tangro, preservate grazie alle caratteristiche carsiche dell'ambiente circostante.
                </p>
            </div>
        </div>

        <div class="col-md-5 ">
            <img src="~/Content/assets/PerS.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<div class="container">
    <div class="info row d-flex align-items-center justify-content-around">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <h2 class="card-title">Informazioni</h2>
            <div class="card-body">
                <br />
                <h3>Orari</h3>
                <p>
                    ◈  Orario continuato dalle ore 09:00 alle ore 17:00.
                </p>
                <p>
                    ◈  Gli orari sono suscettibili di variazione.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">

            <div class="card-body">
                <h3>Biglietti</h3>


                <p> ◈ Adulti - 18€</p>


                <h5>GRATUITÁ</h5>

                <p> ◈ Disabili e accompagnatori disabili</p>
                <p> ◈ Bambini</p>
                <p> ◈ Insegnanti</p>

            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-3">

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-end flex-column w-75 py-4">

                    <h2 class="mt-5">Scopri il suo itinerario</h2>
                    <button>@Html.ActionLink("Clicca qui!", "DetailsGrottediPertosaAuletta", "Grotte", new { area = "" }, new { @class = "nav-link " })</button>
                </div>
            </div>
        </div>
    </div>
</div>
