
@{
    ViewBag.Title = "GrottedelVento";
}

<h1>La Grotta del vento</h1>
<br />
<link href="~/Content/GrotteDelVento.css" rel="stylesheet" />
<div class=" mb-3" >
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col me-5">
            <div class="card-body">
                <h3 class="card-title">La Grotta</h3>
                <br />
                <p class="card-text ">
                    Situata nel cuore del Parco delle Alpi Apuane, in una zona incontaminata di elevato valore paesaggistico e geomorfologico, la Grotta del Vento presenta diverse caratteristiche di unicità in quanto i suoi itinerari permettono l’osservazione diretta di ogni aspetto del carsismo profondo come gallerie vadose fossili o saltuariamente attive, condotte freatiche e ambienti definitivamente abbandonati dall’acqua nei quali è in atto delle formazioni calcaree di ogni genere, tutte vive, brillanti e ricche di colori.
                  </p>
                <p class="card-text ">
                    E tra le poche ad essere aperta tutti i giorni dell’anno (eccetto il 25 Dicembre), consentendo al pubblico di fare una gita “all’aria aperta” anche quando all’esterno piove o nevica.
                </p>
               

            </div>
        </div>
       
        <div class="col-md-6 ">
            <img src="~/Content/assets/Vento.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>
<br />
<div class=" my-3" >
    <div class="row g-0 d-flex align-items-center  ">
        <div class="col-md-5 me-5">
            <img src="~/Content/assets/VentoS2.jpg"
                 class="img-fluid " />
        </div>
        <div class="col me-5">
        <div class="card-body">
            <h3 class="card-title">La Scoperta</h3>
            <p class="card-text ">
                Fu solo nel 1898 che alcuni giovani di Fornovolasco, incuriositi dalla quella corrente d’aria,
                convinsero una bimba di 4 anni ad infilarsi nella fessura, troppo stretta per un adulto.
            </p>
            <p class="card-text ">
                La bimba percorse pochi metri, quanto bastò per far sapere ai suoi amici che sottoterra c’era buio
                e che la strettoia iniziale più avanti allargava.
            </p>
            <p class="card-text ">
                I ragazzi si munirono quindi di pale e picconi,
                ingrandirono la fessura iniziale a loro misura e avanzarono per una ventina di metri, fino all’ampio vano
                oggi denominato “Sala dell’Orso”.
            </p>
            <p class="card-text ">
                E lì si fermarono poiché, probabilmente influenzati dalle credenze che a quei
                tempi popolavano ancora le grotte di esseri mostruosi e demoniaci, decisero di tornare quanto prima alla luce del sole.

            </p>
           
        </div>
        </div>
    </div>
</div>
<br />
<div >
    <div class="row g-0 d-flex align-items-center mb-5">
        <div class="col me-5">
            <div class="card-body">
                <p class="card-text ">
                    La notizia dell’esistenza dell’oscuro buco soffiante non tardò a diffondersi, richiamando l’attenzione di alcuni naturalisti tra i quali il Quarina , Brian,  Mancini e da diversi Gruppi Speleologici.
                    L’esplorazione più importante, decisiva ai fini della valorizzazione turistica della Grotta del Vento, fu comunque quella effettuata nel settembre del 1964 dal Gruppo Speleologico Lucchese del C.A.I., che portò lo sviluppo di questa cavità a 1110 metri, realizzando il rilevamento topografico, uno studio geomorfologico preliminare e un’abbondante documentazione fotografica.
                </p>
                <p class="card-text ">
                    L’esplorazione più importante, decisiva ai fini della valorizzazione turistica della Grotta del Vento, fu comunque quella effettuata nel settembre del 1964 dal Gruppo Speleologico Lucchese del C.A.I., che portò lo sviluppo di questa cavità a 1110 metri, realizzando il rilevamento topografico, uno studio geomorfologico preliminare e un’abbondante documentazione fotografica.
                </p>


            </div>
        </div>

        <div class="col-md-6 ">
            <img src="~/Content/assets/VentoS.jpg"
                 class="img-fluid " />
        </div>
    </div>
</div>

