@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.card {
    width: 20%;
    float: left;
    padding: 0px;
    box-sizing: border-box;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}



h1, h2, h3, h4, h5 {
    font-family: 'Marcellus SC', serif;
    font-weight: 600;
}

.card-title {
    margin: 0;
}

.linkG {
    font-family: 'Marcellus SC', serif;
    font-weight: 600;
    font-size:1.7em;
}